<% for (const disco of nuevos) { %>
    <article>
        <a href="/producto/detalle/<%= disco.idDisc%>"><img src="/img/productos/<%= disco.artist %>"></a>
        <br><span>
            <%=disco.title %>
        </span>
        <br><span>
            <%=disco.artist %>
        </span>
        <br><span>$<%=disco.price %></span>
    </article>
    <% } %>
        </section>