<% for (const discos of Disc) { %>
    <article>
    <a href="/producto/detalle/<%= discos.idDisc%>"><img src="/img/productos/<%= discos.artwork %>"></a>
    <div class="datosDisco">
        <a href="/producto/detalle/<%= discos.description%>" style="text-decoration: none; color:black"><h3><%= discos.titulo%></h3></a>
    <h4><%= discos.title%></h4>
    <span>ID:<%= discos.description%></span>
    <span>$<%= discos.price %></span>
</div>      
</article>
<% } %>