<% for (const user of users) { %>
    <article>
        <a href="/usuario/detalle/<%= user.idUser%>"><img src="/img/Avatares/<%= user.avatar %>"></a>
        <div class="datosDisco">
            <a href="/usuario/detalle/<%= user.idUser%>" style="text-decoration: none; color:black">
                <h3>
                    Nombre: <%= user.firstName%>, Apellido: <%= user.lastName%>
                </h3>
            </a>
            <span>ID:<%= user.idUser%></span>
            <span>Email: <%= user.email %></span>
            <span>Permisos de Usuario: <%= user.idCategory %></span>
            <span>Fecha de Nacimiento: <%= user.birthDate %></span>
        </div>
        <form action="/usuario/borrar/<%= user.idUser %>?_method=DELETE" method="POST">
            <button class="botonForm" type="submit">Eliminar</button></a>
        </form>
<a href=" /usuario/edicion/<%=user.idUser%>"><button class="botonForm">Editar</button></a>
    </article>
    <% } %>