<%- include("./partials/head")  %>

<body>
    <%- include("./partials/header")  %>
    <form class="detalle">
        <article>
            <img src="/img/Discos/<%= disco.image %>">
           <div> 
            <h1><%= disco.titulo %></h1>
            <div class="precio-artista-genero">
           <h3><%= disco.precio %></h3>
           <h3><%= disco.genero %> - <%= disco.artista %></h3>
           </div>
            <button class="botonA単adir">A単adir al carrito</button>
            <button class="botonA単adir">A単adir a lista de destacado</button>
            <p>Texto detalle producto </p>
        </div>
        </article>
    </form>
    <%- include("./partials/footer")  %>
</html>