<%- include("./partials/head")  %>
<body>
    <%- include("./partials/header")  %>
    <div class="container-login">
    <form action="/producto/edicion/<%= disco.id %>?_method=PUT"  method="POST" class="estiloForm">
        <h3>Creación y edición de productos</h3>
        <div class="estiloForm1">
            <label for="nombreDelProducto" class="estiloForm2">Nombre del Producto :</label>
            <input type="text" name="nombreDelProducto" value="<%=disco.titulo%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="descripción" class="estiloForm2">Descripción:</label>
            <input type="text" name="descripción" value="<%=disco.descripción%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="imagenProducto" class="estiloForm2">Imagen:</label>
            <input type="file" name="imagenProducto"id="imagenProducto" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="categoria" class="estiloForm2">Categoría:</label>
            <input type="text" name="categoria"  class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="genero" class="estiloForm2">Genero:</label>
            <input type="text" name="genero" value="<%=disco.genero%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="precio" class="estiloForm2">Precio:</label>
            <input type="text" name="precio" value="<%=disco.precio%>" class="estiloForm3">
        </div>
       
        <div class="botones-registro">
            <button type="submit" class="botonForm">Modificar</button>
            
        </div>
    </form>
</div>
    <%- include("./partials/footer")  %>
</body>

</html>