<%- include("./partials/head")  %>
<body>
    <%- include("./partials/header")  %>
    <div class="container-login">
    <form action="/producto/edicion/<%= disco.idDisc %>?_method=PUT"  method="POST" enctype="multipart/form-data" class="estiloForm">
        <h3>Creaci칩n y edici칩n de productos</h3>
        <div class="estiloForm1">
            <label for="title" class="estiloForm2">Nombre del Disco:</label>
            <input type="text" name="title" id="title" value="<%=disco.title%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="idArtist" class="estiloForm2">Artista:</label>
            <input type="number" name="idArtist"id="idArtist" value="<%=disco.idArtist%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="idGenre" class="estiloForm2">Genero:</label>
            <input type="number" name="idGenre"id="idGenre" value="<%=disco.idGenre%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="sales" class="estiloForm2">Ventas:</label>
            <input type="number" name="sales" id="sales"value="<%=disco.sales%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="releaseYear" class="estiloForm2">A침o de lanzamiento:</label>
            <input type="date" name="releaseYear" id="releaseYear" value="<%=disco.releaseYear%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="price" class="estiloForm2">Precio:</label>
            <input type="number" name="price" id="price" value="<%=disco.price%>" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="description" class="estiloForm2">Descripci칩n:</label>
            <textarea type="text" name="description" id="description" class="estiloForm3" rows="4" cols="50"><%=disco.description%></textarea>
        </div>
        <div class="estiloForm1">
            <label for="artwork" class="estiloForm2">Imagen:</label>
            <input type="file" name="artwork" id="artwork" class="estiloForm3">
        </div>
        <div class="botones-registro">
            <button type="submit" class="botonForm">Modificar</button>
            
        </div>
    </form>
</div>
    <%- include("./partials/footer")  %>
</body>

</html>