<%- include("./partials/head")  %>

<body>
    <%- include("./partials/header")  %>
    <div class="detalle">
        <article>
            <img src="/img/Discos/<%= disco.image %>">
           <div> 
            <h1><%= disco.titulo %></h1>
            <div class="precio-artista-genero">
           <h3><%= disco.precio %></h3>
           <h3><%= disco.genero %> - <%= disco.artista %></h3>
           </div>
            <button class="botonAñadir">Añadir al carrito</button>
            <button class="botonAñadir">Añadir a lista de destacado</button>
            <p>Texto detalle producto </p>
        </div>
        <form action="/producto/borrar/<%= disco.id %>?_method=DELETE" method="POST">
            <button type="submit" class="botonAñadir">ELIMINAR</button>
        </form>
        </article>
    </div>
    <%- include("./partials/footer")  %>
</html>