<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <script src="/scripts/registerValidator.js"></script>
            <div class="container-login">
              
                <form action="/usuario/crear" method="POST" class="estiloForm" enctype="multipart/form-data">
                    <h3>Registro de usuario</h3>
                   
                                    <div class="estiloForm1">
                                        <label for="firstName" class="estiloForm2">Nombre: </label>
                                        <input type="text" name="firstName" id="firstName" value="<%= locals.old && old.firstName ? old.firstName : '' %>" class="estiloForm3">
                                        <% if(locals.mensajeDeError && mensajeDeError.firstName) {%>
                                        <div class="mensajeError">
                                           <%= mensajeDeError.firstName.msg %>
                                        </div>
                                        <% } %>
                                    </div>
                                    
                                    <div class="estiloForm1">
                                        <label for="lastName" class="estiloForm2">Apellido: </label>
                                        <input type="text" name="lastName"id="lastName" value="<%= locals.old && old.lastName ? old.lastName : '' %>"class="estiloForm3">
                                        <% if(locals.mensajeDeError && mensajeDeError.lastName) {%>
                                            <div class="mensajeError">
                                               <%= mensajeDeError.lastName.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="estiloForm1">
                                        <label for="birthDate" class="estiloForm2">Fecha de Nacimiento: </label>
                                        <input type="date" name="birthDate" id="birthDate" value="<%= locals.old && old.birthDate ? old.birthDate : '' %>" class="estiloForm3">
                                        <% if(locals.mensajeDeError && mensajeDeError.birthDate) {%>
                                            <div class="mensajeError">
                                               <%= mensajeDeError.birthDate.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="estiloForm1">
                                        <label for="avatar" class="estiloForm2">Imagen de Perfil: </label>
                                        <input type="file" name="avatar" id="avatar" value="<%= locals.old && old.avatar ? old.avatar : '' %>" class="estiloForm3"
                                            accept="image/*">
                                      
                                        </div>
                                    <div class="estiloForm1">
                                        <label for="email" class="estiloForm2">Correo Electronico: </label>
                                        <input type="text" name="email" id="email" value="<%= locals.old && old.email ? old.email : '' %>" class="estiloForm3">
                                        <% if(locals.mensajeDeError && mensajeDeError.email) {%>
                                            <div class="mensajeError">
                                               <%= mensajeDeError.email.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="estiloForm1">
                                        <label for="idCategory" class="estiloForm2">Categoría: </label>
                                        <select name="idCategory" id="idCategory" class="estiloForm3">
                                            <% for(let i = 0; i < idCategory.length; i++) {%>
                                                <option value="<%=idCategory[i].idCategory%>">
                                                    <%=idCategory[i].name%>
                                                </option>
                                              <% } %>  
                                        </select>
                                        <% if(locals.mensajeDeError && mensajeDeError.idCategory) {%>
                                            <div class="mensajeError">
                                               <%= mensajeDeError.idCategory.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="estiloForm1">
                                        <label for="password" class="estiloForm2">Contraseña: </label>
                                        <input type="password" name="password" id="password" class="estiloForm3">
                                            <% if(locals.mensajeDeError && mensajeDeError.password) {%>
                                                <div class="mensajeError">
                                                   <%= mensajeDeError.password.msg %>
                                                </div>
                                                <% } %>
                                        </div>
                                    <div class="botones-registro">
                                        <button type="reset" class="botonForm">Borrar</button>
                                        <button type="submit" class="botonForm">Registrar</button>
                                    </div>
                </form>
            </div>
            <%- include("./partials/footer") %>
    </body>

    </html>