<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <div class="container-login">
                <div class="detalle">
                    <article>
                        <img src="/img/Avatares/<%= user.avatar %>">
                        <div>
                            <h2>
                                Nombre:
                                <%= user.firstName %>
                            </h2>
                            <h2>
                                Apellido:
                                <%= user.lastName %>
                            </h2>
                        </div>
                        <div class="precio-artista-genero">
                            <h3>
                                Email: <br>
                                <%= user.email %> <br>
                                    - <br>
                                    Fecha de Nacimiento: <br>
                                    <%= user.birthDate %><br>
                                        Categoría del usuario: <br>
                                        <%= user.idCategory %>
                            </h3>
                        </div>
                        <a href="/usuario/edicion/<%= user.idUser%>"><button class="botonAñadir">Editar
                                Usuario</button></a>
                </div>
                <form action="/usuario/borrar/<%= user.idUser%>?_method=DELETE" method="POST">
                    <button type="submit" class="botonAñadir">ELIMINAR USUARIO</button>
                </form>
                </article>
            </div>
            </div>
            <%- include("./partials/footer") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
                </html>